@media (max-width: 450px) {
nav{
    width: 450px;
}

nav ul{
    display: flex;
    margin-left: 100px;
    width: 80vw;
}

nav ul li{
    display: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav .img1{
    display: flex;
    justify-content: center;
}

 nav .img2{
    margin-left: 0px;
    width:15px;
    height: 25px;
    display: none;
 }

 header .container{
    margin-top: 70px;
 }

 header .container .cont1{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 header .container h2{
    font-size: 3rem;
    font-weight: 500;
 }

 header .container h2 span{
    font-weight: 900;
 }

 header .container .cont2{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
 }

 header .container .cont2 p{
    width: 50vw;
    text-align: center;
 }

 header .container .cont3{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 header .container .cont3 a{
    text-decoration: none;
    color: white;
    background: #00b6d1;
    padding: 14px 20px;
    border: 2px solid #00b6d1;
    font-weight: 900;
    border-radius: 8px;
    margin-top: 35px;
    transition: 0.5s;
 }

 header .container .cont3 a:hover{
    background: #0ca3bb;
 }

 main .container1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60px;
    width: 100vw;
 }

 main .container1 .cont1{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 55vw;
 }

 main .container1 .cont1 h2{
    font-size: 1.75rem;
    font-weight: 400;
    position: relative;
    right: 30px;
 }

 main .container1 .cont1 p{
    font-size: 1rem;
    font-weight: 300;
    position: relative;
    right: 25px;
 }

 main .container2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: relative;
 }

 main .container2 .cont1{
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 1000px;
 }

 main .container2 .cont1 .box1{
    padding: 10px;
    display: grid;
    grid-template-rows: 35px 25px 45px ;
    text-align: center;
    background-color: azure;
    height: 180px;
 }

 main .container2 .cont1 .box1 h3{
    margin-top: 10px;
    font-size: 1.5rem;
    margin-bottom: 5px;
 }

 main .container2 .cont1 .box1 h4{
    margin-top: 10px;
    font-weight: 100;
 }

 main .container2 .cont1 .box1 a{
    margin: auto;
    text-align: center;
    text-decoration: none;
    background: rgb(0, 165, 39);
    color: white;
    padding: 10px 20px;
    width: 150px;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 20px;
 }

 main .container2 .cont1 .box .box1 .p1{
    font-size: 0.7rem;
    margin-top: 30px;
    margin-bottom:3px;
 }

 main .container2 .cont1 .box .box1 .p2{
    font-size: 0.5rem;
 }

}